<div class="container">
  <h1>{{title}}</h1>
  <div class="row">
     <div class="col-md-4">

     </div>
    <div class="col-md-4">
     <form (ngSubmit)="login()" [formGroup]="loginForm" class="form" novalidate>
       <input formControlName="email" class="form-control" type="text" placeholder="Enter Email"/>
       <div class="alert  alert-danger" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
          Email is required
        </div>
       <br/>
       <input formControlName="password" class="form-control" type="password" placeholder="Enter Password" />
       <div class="alert  alert-danger" *ngIf=" !loginForm.get('password')?.valid && loginForm.get('password')?.touched">
        Password is required and should more than {{passWordLength}} characters
     </div>
       <br/>
       <input formControlName="age" class="form-control" placeholder="Enter Age" />
       <div class="alert  alert-danger" *ngIf="!loginForm.get('age')?.valid && loginForm.get('age')?.touched">
         Age should be between {{minAge}} and {{maxAge}}
     </div>
     <br/>
     <input class="form-control" formControlName="phone" type="text" placeholder="Enter Phone number" />
     <div class="alert  alert-danger" *ngIf="loginForm.get('phone')?.hasError('required') && loginForm.get('phone')?.touched">
      Phone Number is required
     </div>
     <br/>
     <label class='control-label'>Send Notification</label>
     <br />
     <label class="radio-inline">
         <input type="radio" value="email" formControlName="notification">Email
     </label>
     <label class="radio-inline">
         <input type="radio" value="phone" formControlName="notification">Phone
     </label>
     <br/>
       <button [disabled]="loginForm.invalid" class="btn btn-info">Login</button>
     </form>

    </div>
    <div class="col-md-4">

      <button (click)="setValues()">set Login Value</button>
     
    </div>
  </div>
</div>